<tr id="<%= wizard %>-section">
  <td class="small-9">
    <strong><%= t("wizard.admin.module_title") %></strong>
    <br>
    <span class="small">
      <%= t("wizard.admin.description") %>
    </span>
  </td>
  <td class="small-3">
    <%= link_to t("admin.actions.configure"), new_admin_wizards_installer_path, class: "button hollow" %>
  </td>
</tr>
