<tr id="<%= wizard %>-section">
  <td class="small-9">
    <strong><%= t("admin.wizards.#{wizard}.module_title") %></strong>
    <br>
    <span class="small">
      <%= t("admin.wizards.#{wizard}.description") %>
    </span>
  </td>
  <td class="small-3">
    <%= link_to t("admin.actions.configure"), wizard_path(wizard), class: "button hollow" %>
  </td>
</tr>
