<% if user_signed_in? %>
  <li>
    <%= link_to t("devise_views.menu.login_items.logout"),
                destroy_user_session_path, rel: "nofollow", method: :delete %>
  </li>
<% else %>
  <li>
    <%= link_to t("devise_views.menu.login_items.login"),
                new_user_session_path, rel: "nofollow" %>
  </li>
  <li>
    <%= link_to t("devise_views.menu.login_items.signup"),
                new_user_registration_path, rel: "nofollow", class: "button" %>
  </li>
<% end %>
