<tr id="<%= dom_id(field_assignment) %>">
  <td><%= field_assignment.verification_field.name %></td>
  <td class="float-right">
    <%= link_to t("admin.wizards.verification.field.assignments.index.edit"),
                edit_admin_wizards_verification_field_assignment_path(@handler, field_assignment),
                class: "button hollow" %>
    <%= link_to t("admin.wizards.verification.field.assignments.index.delete"),
                admin_wizards_verification_field_assignment_path(@handler, field_assignment.id),
                method: :delete,
                class: "button hollow alert",
                data: { confirm: t("admin.actions.confirm") } %>
  </td>
</tr>
