<ul class="no-bullet external-links" data-responsive-menu="medium-dropdown">
  <li class="show-for-small-only">
    <%= link_to root_path do %>
      <span>
        <%= t("application.home") %>
      </span>
    <% end %>
  </li>
  <%= render Layout::AdminLoginItemsComponent.new(current_user) %>
  <%= render Layout::LoginItemsComponent.new(current_user) %>
</ul>
