<h2 class="inline-block"><%= t("management.import_users") %></h2>

<%= link_to t("admin.moderated_texts.index.import_csv"),
            new_management_import_user_path,
            class: "button hollow float-right" %>