<div class="row margin-top">
  <div class="small-12 column medium-8 verification-new">
    <%= back_link_to %>
    <h2><%= t("admin.wizards.verification.fields.new.title") %></h2>
    <%= render "form" %>
  </div>
</div>
