@mixin close-button($color: $admin-text) {
  border: 3px solid $color;
  border-radius: 50%;
  color: $color;
  font-size: rem-calc(23);
  font-weight: bold;
  height: rem-calc(30);
  width: rem-calc(30);
}
