<%= back_link_to admin_census_locals_path %>

<h2><%= t("admin.census.locals.importations.new.title") %></h2>

<h3><%= t("admin.census.locals.importations.new.subtitle") %></h3>

<%= render "form" %>
