<%= render "admin/wizards/header_steps", current_step: 7,
                                         total_steps: @total_steps,
                                         back_step: admin_wizards_installer_path(:regional) %>

<hr>

<h2>Asistente finalizado con éxito</h2>
<p>En caso de querer modificar cualquier dato una vez realizado el Asistente podrá modificarlo en la sección "Configuración" o volviendo a ejecutar el Asistente de Instalación</p>

<%= link_to "Finalizar Asistente", admin_root_path, class: "button" %>
