<%= render "admin/wizards/header_steps", current_step: 7,
                                         total_steps: @total_steps,
                                         back_step: admin_wizards_installer_path(:regional),
                                         wizard: "installation" %>

<div class="medium-12 columns">
  <div class="columns">
    <h2><%= t("admin.wizards.installation.finish.title") %></h2>
    <p><%= t("admin.wizards.installation.finish.description_html") %></p>
    <%= link_to t("admin.wizards.installation.finish.btn_finish"), admin_root_path, class: "button" %>
  </div>
</div>
