<%= render "admin/wizards/header_steps", current_step: 4,
                                         total_steps: @total_steps,
                                         back_step: admin_wizards_installer_path(:participation_process),
                                         next_step: admin_wizards_installer_path(:smtp) %>

<hr>

<h2>Configuración del Mapa</h2>
<p>En este paso podrán activar/desactivar la geolocalización de las propuestas y proyectos de gasto, y personalizar la manera en que se muestra el mapa a los usuarios.
En caso de querer modificar alguna una vez realizado el Asistente podrá acceder a la sección "Configuración" > "Configuración del mapa" o volviendo a ejecutar el Asistente de Instalación</p>

<%#= render "admin/settings/settings_table", settings: @settings %>
<% @settings.each do |setting_group| %>
  <%= render "admin/settings/mixed_settings_table", settings: setting_group %>
<% end %>

<p><%= t("admin.settings.index.map.help") %></p>

<%= render "admin/settings/map_form" %>
