<%= render "admin/wizards/header_steps", current_step: 1,
                                         total_steps: @total_steps %>

<div class="medium-12 columns">
  <div class="columns">
    <h2><%= t("wizard.new.title") %></h2>
    <p><%= t("wizard.new.description_html") %></p>
    <%= link_to t("wizard.new.btn_start"), admin_wizards_installer_path(:general_settings), class: "button" %>
  </div>
</div>
