<%= render "admin/wizards/header_steps", current_step: 3,
                                         total_steps: @total_steps,
                                         back_step: admin_wizards_installer_path(:general_settings),
                                         next_step: admin_wizards_installer_path(:map) %>

<div class="medium-12 columns">
  <div class="columns">
    <h2><%= t("admin.settings.index.process.title") %></h2>
    <p><%= t("wizard.partecipation_process.description") %></p>
    <% @settings.each do |setting_group| %>
      <%= render "admin/settings/mixed_settings_table", settings: setting_group %>
    <% end %>
  </div>
</div>
