<%= render "admin/wizards/header_steps", current_step: 6,
                                         total_steps: @total_steps,
                                         back_step: admin_wizards_installer_path(:smtp),
                                         next_step: admin_wizards_installer_path(:finish) %>

<div class="medium-12 columns">
  <div class="columns">
    <h2><%= t("wizard.regional.title") %></h2>
    <p><%= t("wizard.regional.description") %></p>
  </div>
</div>
