<%= render "admin/wizards/header_steps", current_step: 5,
                                         total_steps: @total_steps,
                                         back_step: admin_wizards_installer_path(:map),
                                         next_step: admin_wizards_installer_path(:regional) %>

<hr>

<h2>Conexión SMTP</h2>
<p>En este paso podrán configurar la conexión SMTP para poder enviar correos desde la aplicación
En caso de querer modificar alguna una vez realizado el Asistente podrá acceder a la sección "Configuración" > "Conexión SMTP" o volviendo a ejecutar el Asistente de Instalación</p>
<%= render "admin/settings/mixed_settings_table", settings: @settings %>
