<%= render "admin/wizards/header_steps", current_step: 5,
                                         total_steps: @total_steps,
                                         back_step: admin_wizards_installer_path(:map),
                                         next_step: admin_wizards_installer_path(:regional) %>

<div class="medium-12 columns">
  <div class="columns">
    <h2><%= t("wizard.smtp.title") %></h2>
    <p><%= t("wizard.smtp.description") %></p>
  </div>
</div>
