<div class="row">
  <div class="small-6 large-3 columns">
    <small><strong>[translate = Language in use]</strong></small>

    <%= select_tag :translation_locale,
              options_for_locale_select,
              prompt: name_for_locale(locale),
              :id => "globalize_locale"
    %>
    <div class="group-destroy-languages">
      <% I18n.available_locales.each do |locale| %>
          <%= link_to t("admin.translations.remove_language"), "#",
                      id: "js_delete_#{locale}",
                      style: display_translation_style(resource, locale),
                      class: 'delete js-delete-language',
                      data: { locale: locale } %>
      <% end %>
      </div>

  </div>
  <div class="small-6 large-3 columns">
    <br />
    <%= select_tag :translation_locale,
                   options_for_locale_select,
                   prompt: t("admin.translations.add_language"),
                   class: "js-globalize-locale" %>
  </div>
  <div class="small-6 large-6 columns"></div>
</div>
