<li>
  <%= layout_menu_link_to t("layouts.header.my_account_link"),
                            account_path,
                            controller_name == "account",
                            rel: "nofollow",
                            title: t("shared.go_to_page") +
                                   t("layouts.header.my_account_link") %>
</li>
