<div class="verification-process row">

  <div class="small-12 medium-9 column">
    <h1>Verification process</h1>
    <h2>Enter confirmation codes</h2>
  </div>

  <div class="row column">
    <%= form_for @confirmation, url: verification_confirmation_path do |f| %>
      <% @confirmation.confirmation_fields.each do |field| %>
        <div class="small-12 column">
          <%= f.text_field field %>
        </div>
      <% end %>

      <div class="actions small-12 column">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
