

<script>
    function uploadData(key, key_x, videoId, playlist, client_id) {     
        var url = document.URL;
        url = String(url.match(/\?+.+ | \#+.+/));
        url = url.replace(/\?|\#/, "");
        url = url.split("&");
        var access_token = null

        for (i=0;i < url.length; i++) {
            p = url[i].split("=");
            if (p[0] == "access_token") {
                access_token = decodeURIComponent(p[1]);
                break;
            }
        }

        if (!access_token) { 
            location.href =  encodeURI("https://accounts.google.com/o/oauth2/auth?client_id=" + client_id + "&redirect_uri=" + document.URL+ "&scope='https://www.googleapis.com/auth/youtube'&response_type: 'token'");
        }


        $.get(
            "https://www.googleapis.com/youtube/v3/videos",{
            part : 'player,snippet', 
            id : videoId, 
            key: key_x},
            function(data) {     
                $('#player').html(data.items[0].player.embedHtml);
                if (data.items[0].snippet.liveBroadcastContent != 'none' ) {
                    if (!access_token) {
                        $('#comments').html("No hay acceso al canal live streaming");
                    } else {
                        $.get(
                            "https://www.googleapis.com/youtube/v3/liveBroadcasts",{
                            part: "snippet",
                            id: videoId,
                            key: key,
                            access_token: access_token
                            },
                            function(data) {
                                if (data.error) {
                                    $('#comments').html("No está habilitado el canal live streaming");
                                } else {
                                    $.get(
                                        "https://www.googleapis.com/youtube/v3/liveChat/messages",{
                                        part: "snippet, authorDetails",
                                        liveChatId: data.items[0].snippet.liveChatId,
                                        key: key,
                                        access_token: access_token
                                        },
                                        function(data) {
                                            if (data.error) {
                                                $('#comments').html("No está habilitado el chat del canal live streaming");
                                            } else {
                                                if (data.items.length > 0) {
                                                    $.each( data.items, function( i, cont ) {
                                                        var item = cont.snippet
                                                        var author = cont.authorDetails.displayName
                                                        var datecre =  new Date(Date.parse(item.publishedAt));
                                                        var fecha = datecre.getDay() + "/" + datecre.getMonth() + "/" + datecre.getFullYear();
                                                        contenido = contenido + "<p><b>" + author + "</b> - <span class='desc_video'>" + fecha + "</span></p><p>" + item.displayMessage + "</p>"
                            
                                                    });
                                                }else {
                                                    contenido = "No hay comentarios disponibles";
                                                }
                                                $('#comments').html(contenido);
                                            }
                                        }
                                    );
                                }
                            }
                        );
                    }
                } else {
                    $.get(
                        "https://www.googleapis.com/youtube/v3/commentThreads",{
                        part : 'snippet', 
                        order: 'time',
                        videoId : videoId,
                        maxResults: 6,
                        key: key_x},
                        function(data) {   
                            var contenido = '';
                            if (data.items.length > 0) {
                                $.each( data.items, function( i, cont ) {
                                    var item = cont.snippet.topLevelComment.snippet
                                    var datecre =  new Date(Date.parse(item.updatedAt));
                                    var fecha = datecre.getDay() + "/" + datecre.getMonth() + "/" + datecre.getFullYear();
                                    contenido = contenido + "<p><b>" + item.authorDisplayName + "</b> - <span class='desc_video'>" + fecha + "</span></p><p>" + item.textDisplay + "</p>"
        
                                });
                            }else {
                                contenido = "No hay comentarios disponibles";
                            }
                            $('#comments').html(contenido);
                        }
                    );
                }
            }
        );

        $.get(
            "https://www.googleapis.com/youtube/v3/playlistItems",{
            part : 'snippet', 
            playlistId : playlist, 
            maxResults: 6,
            key: key},
            function(data) {   
                var contenido = '';
                if (data.items.length > 0) {
                    $.each( data.items, function( i, cont ) {
                    var item = cont.snippet
                    var datecre =  new Date(Date.parse(item.publishedAt));
                    var fecha = datecre.getDay() + "/" + datecre.getMonth() + "/" + datecre.getFullYear();
                    contenido = contenido + "<div class='small-2 column'>"
                    contenido = contenido + "<div class='row background_uniq_video'>"
                    contenido = contenido + "<div class='small-12 column'>"
                    contenido = contenido + "<a href='https://www.youtube.com/watch?v="+ item.resourceId.videoId + "' target='_blank'><img width='100%' src='" +item.thumbnails.high.url +"'></a>"
                    contenido = contenido + "</div>"
                    contenido = contenido + "</div>"
                    contenido = contenido + "<div class='row background_uniq_video'>"
                    contenido = contenido + "<div class='small-12 column'>"
                    contenido = contenido + "<p><b>"+item.title.substring(0, 25)+"...</b></p>"
                    contenido = contenido + "<p class='desc_video'>"+item.channelTitle+"</p>"
                    contenido = contenido + "<p class='desc_video'>"+fecha+"</p>"
                    contenido = contenido + "</div>"
                    contenido = contenido + "</div>"
                    contenido = contenido + "</div>"
                    });
                }else {
                    contenido = "No hay vídeos disponibles";
                }
                $('#playlist').html(contenido);
            }
        );
        
    }
</script>

<%= Setting.find_by(key: 'text_madrid_balcon').try(:value).try(:html_safe)%>
<div class="row">
    <div id="player" class="small-6 column">
    </div>
    <div class="small-6 column background_comments">
        <h3>Comentarios más recientes</h3>
        <div id="comments">No hay comentarios disponibles</div>
    </div>
</div>
<div class="row background_videos">
    <div class="small-12 column">
        <h3>Videoconferencias realizadas anteriormente</h3>
        <div id="playlist">No hay vídeos disponibles</div> 
    </div>
</div>
<%= javascript_tag "uploadData('#{ @key}', '#{@key_x}', '#{ @videoId }', '#{@playlistId}','#{@client_id}')" %>