<div class="row">
    <div class="small-12 column">
        <h1>Conectados</h1>
        <h3>Encuentros digitales con expertos</h3>
    </div>
</div>
<div class="row">
    <div class="small-12 column">
        <p>Te ponemos en contacto con técnicos del Ayuntamiento para que puedas resolver tus dudas sobre el <b>COVID-19</b> en todos los ámbitos de actuación: sanitario, social, asistencial, etc.</p>
        <br>
        <p>Cada lunes, un experto contestará en directo a tus preguntas.</p>
        <p><b>Próximo encuentro:</b> lunes <%=@day%>, 19:30h</h>

    </div>
</div>
<div class="row">
    <div class="small-12 column">
        <%#=@video.embed_html.html_safe%>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KpgTWGu7ecI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>
<div class="row">
    <div class="small-12 column">
       <%#=@channel.title%>
    </div>
</div>