<div class="row">
    <div class="small-12 column">
        <h1>Conectados</h1>
        <h3>Encuentros digitales con expertos</h3>
    </div>
</div>
<div class="row">
    <div class="small-12 column">
        <p>Te ponemos en contacto con técnicos del Ayuntamiento para que puedas resolver tus dudas sobre el <b>COVID-19</b> en todos los ámbitos de actuación.</p>
        <br>
        <p>Cada lunes, un experto contestará en directo a tus preguntas.</p>
        <p><b>Próximo encuentro:</b> Diariamente</h>

    </div>
</div>
<div class="row">
    <div class="small-6 column">
        <%#=@video.embed_html.html_safe%>
    </div>
    <div class="small-6 column">
        <%#@video.comment_threads.take(10).each do |comment|%>
            <%#=comment.text_display %>
        <%#end%>
    </div>
</div>
<div class="row background_videos">
    <div class="small-12 column">
        <h3>Videoconferencias realizadas anteriormente</h3>
        <%#="No hay vídeos disponibles" if @playlist.playlist_items.count <= 0 %>
        <%#@playlist.playlist_items.take(6).each do |item| %>
            <div class="small-2 column">
                <div class="row background_uniq_video">
                    <div class="small-12 column">
                        <a href="https://www.youtube.com/watch?v=<%#=item.video.id%>" target="_blank"><img width="100%" src="<%#=item.video.thumbnail_url%>"></a>
                    </div>
                </div>
                <div class="row background_uniq_video">
                    <div class="small-12 column">
                        <p><b><%#=item.video.title.truncate(30)%></b></p>
                        <p class="desc_video"><%#=item.video.channel_title%></p>
                        <p class="desc_video"><%#=item.video.view_count%> visualizaciones</p>
                        <p class="desc_video"><%#=item.video.published_at.strftime("%d/%m/%Y")%></p>
                    </div>
                </div>
            </div>
        <%#end%>
    </div>
</div>