<%= form_for [:admin, @resident] do |f| %>
  <%= render "shared/errors", resource: @resident %>

  <div class="row">
    <div class="small-12">
      <%= f.text_area :data %>
    </div>
  </div>

  <div class="small-12 medium-4 large-2 margin-top">
    <%= f.submit(class: "button success expanded", value: t("shared.save")) %>
  </div>
<% end %>
