<div class="verification-resident row">

  <div class="small-12 column">
    <%= back_link_to admin_verification_residents_path %>

    <h1><%= t("admin.verification.residents.edit.editing") %></h1>

    <%= render "form" %>
  </div>
</div>
