<div class="verification-resident-new">

  <div class="small-12 column">
    <%= back_link_to admin_verification_residents_path %>

    <h1><%= t("admin.verification.residents.new.creating") %></h1>

    <%= render "form" %>
  </div>
</div>
