<div class="row">
  <div class="small-12 medium-4 column">
    <%= render "shared/recommended/recommended_debates" %>
  </div>

  <div class="small-12 medium-4 column">
   <%= render "shared/recommended/recommended_proposals" %>
  </div>

  <div class="small-12 medium-4 column">
   <%= render "shared/recommended/recommended_budgets_investments" %>
  </div>
</div>
