default: &default
  twitter_key: <%= ENV["TWITTER_KEY"] %>
  twitter_secret: <%= ENV["TWITTER_SECRET"] %>
  facebook_key: <%= ENV["FACEBOOK_KEY"] %>
  facebook_secret: <%= ENV["FACEBOOK_SECRET"] %>
  google_oauth2_key: <%= ENV["GOOGLE_KEY"] %>
  google_oauth2_secret: <%= ENV["GOOGLE_SECRET"] %>
  openam_username: <%= ENV["OPENAM_USERNAME"] %>
  openam_password: <%= ENV["OPENAM_PASSWORD"] %>
  saml_sp_entity_id: <%= ENV["SAML_SP_ENTITY_ID"] || "consul" %>
  saml_idp_metadata_url: <%= ENV["SAML_IDP_METADATA_URL"] %>
  saml_idp_sso_service_url: <%= ENV["SAML_IDP_SSO_SERVICE_URL"] || "http://localhost:8081/openam/idpssoinit?metaAlias=/idp&spEntityID=consul&binding=HTTP-POST" %>
  soap_url_svd: <%= ENV["SOAP_URL_SVD"] %>
  soap_url_pet: <%= ENV["SOAP_URL_PET"] %>
  soap_url_ver: <%= ENV["SOAP_URL_VER"] %>
  soap_url_ver1: <%= ENV["SOAP_URL_VER1"] %>
  soap_url_amb: <%= ENV["SOAP_URL_AMB"] %>
  soap_url_ns8: <%= ENV["SOAP_URL_NS8"] %>
  soap_verificar_identidad_nif_funcionario: <%= ENV["SOAP_VERIFICAR_IDENTIDAD_NIF_FUNCIONARIO"] %>
  soap_verificar_identidad_identificador_solicitante: <%= ENV["SOAP_VERIFICAR_IDENTIDAD_IDENTIFICADOR_SOLICITANTE"] %>
  soap_verificar_identidad_nombre_solicitante: <%= ENV["SOAP_VERIFICAR_IDENTIDAD_NOMBRE_SOLICITANTE"] %>
  soap_verificar_identidad_cod_procedimiento: <%= ENV["SOAP_VERIFICAR_IDENTIDAD_COD_PROCEDIMIENTO"] %>
  soap_verificar_identidad_nombre_procedimiento: <%= ENV["SOAP_VERIFICAR_IDENTIDAD_NOMBRE_PROCEDIMIENTO"] %>
  soap_verificar_identidad_finalidad: <%= ENV["SOAP_VERIFICAR_IDENTIDAD_FINALIDAD"] %>
  soap_verificar_identidad_id_expediente: <%= ENV["SOAP_VERIFICAR_IDENTIDAD_ID_EXPEDIENTE"] %>
  soap_verificar_residencia_nif_funcionario: <%= ENV["SOAP_VERIFICAR_RESIDENCIA_NIF_FUNCIONARIO"] %>
  soap_verificar_residencia_identificador_solicitante: <%= ENV["SOAP_VERIFICAR_RESIDENCIA_IDENTIFICADOR_SOLICITANTE"] %>
  soap_verificar_residencia_nombre_solicitante: <%= ENV["SOAP_VERIFICAR_RESIDENCIA_NOMBRE_SOLICITANTE"] %>
  soap_verificar_residencia_cod_procedimiento: <%= ENV["SOAP_VERIFICAR_RESIDENCIA_COD_PROCEDIMIENTO"] %>
  soap_verificar_residencia_nombre_procedimiento: <%= ENV["SOAP_VERIFICAR_RESIDENCIA_NOMBRE_PROCEDIMIENTO"] %>
  soap_verificar_residencia_finalidad: <%= ENV["SOAP_VERIFICAR_RESIDENCIA_FINALIDAD"] %>
  soap_verificar_residencia_id_expediente: <%= ENV["SOAP_VERIFICAR_RESIDENCIA_ID_EXPEDIENTE"] %>
  soap_platino_pkcs12_password: <%= ENV["SOAP_PLATINO_PKCS12_PASSWORD"] %>
  soap_platino_usuario: <%= ENV["SOAP_PLATINO_USUARIO"] %>
  openam_username: <%= ENV["OPENAM_USERNAME"] %>
  openam_password: <%= ENV["OPENAM_PASSWORD"] %>
  openam_host: <%= ENV["OPENAM_HOST"] %>
  sara_wsdl_url: <%= ENV["SARA_WSDL_URL"] %>
  cookies_name: <%= ENV["COOKIES_NAME"] %>
  logo_canarias_government_url: <%= ENV["LOGO_CANARIAS_GOVERNMENT_URL"] %>
  transparency_url: <%= ENV["TRANSPARENCY_URL"] %>
  open_data_url: <%= ENV["OPEN_DATA_URL"] %>
  logo_citizen_participation_url: <%= ENV["LOGO_CITIZEN_PARTICIPATION_URL"] %>
  contact_url: <%= ENV["CONTACT_URL"] %>
  legal_url: <%= ENV["LEGAL_URL"] %>
  log_level: <%= ENV["RAILS_LOG_LEVEL"] %>
  usuario_ws_fundaciones: <%= ENV["USUARIO_WS_FUNDACIONES"] %>
  usuario_ws_asociaciones: <%= ENV["USUARIO_WS_ASOCIACIONES"] %>
  recaptcha_site_key: <%= ENV["RECAPTCHA_SITE_KEY"] %>
  recaptcha_secret_key: <%= ENV["RECAPTCHA_SECRET_KEY"] %>

mail: &mail
  mailer_delivery_method: :smtp
  smtp_settings:
    :address: <%= ENV["MAIL_ADDRESS"] %>
    :port: <%= ENV["MAIL_PORT"] || 25 %>
    :domain: <%= ENV["MAIL_DOMAIN"] %>
    :user_name: <%= ENV["MAIL_USER"] %>
    :password: <%= ENV["MAIL_PASSWORD"] || "" %>
    :authentication: <%= ENV["MAIL_AUTH"] || "plain" %>
    :enable_starttls_auto: <%= ENV["MAIL_STARTTLS"] || true %>

maps: &maps
  map_tiles_provider: "//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
  map_tiles_provider_attribution: "&copy; <a href=\"http://osm.org/copyright\">OpenStreetMap</a> contributors"

apis: &apis
  census_api_end_point: ""
  census_api_institution_code: ""
  census_api_portal_name: ""
  census_api_user_code: ""
  sms_end_point:  ""
  sms_username: ""
  sms_password: ""

http_basic_auth: &http_basic_auth
  http_basic_auth: true

development:
  <<: *default
  secret_key_base: <%= ENV["SECRET_TOKEN"] || "577c1fa795d63ea6b52c79303ead1e855902044f303ca5052a8b6b16a1f7a99e069c91bb0e646ac1fd69ed63c944e7954e54d0448fd88436f232822cb50c1be1" %>
  http_basic_username: "dev"
  http_basic_password: "pass"
  openam_username: <%= ENV["OPENAM_USERNAME"] || "amAdmin" %>
  openam_password: <%= ENV["OPENAM_PASSWORD"] || "123456789" %>
  <<: *maps

test:
  <<: *default
  secret_key_base: "577c1fa795d63ea6b52c79303ead1e855902044f303ca5052a8b6b16a1f7a99e069c91bb0e646ac1fd69ed63c944e7954e54d0448fd88436f232822cb50c1be1"
  openam_username: <%= ENV["OPENAM_USERNAME"] || "amAdmin" %>
  openam_password: <%= ENV["OPENAM_PASSWORD"] || "123456789" %>
  <<: *maps

staging:
  <<: *default
  secret_key_base: <%= ENV["SECRET_TOKEN"] %>
  server_name: ""
  force_ssl: true
  delay_jobs: true
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""
  <<: *maps
  <<: *apis
  <<: *mail

preproduction:
  <<: *default
  secret_key_base: <%= ENV["SECRET_TOKEN"] %>
  server_name: ""
  force_ssl: true
  delay_jobs: true
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""
  <<: *maps
  <<: *apis
  <<: *mail

production:
  <<: *default
  secret_key_base: <%= ENV["SECRET_TOKEN"] %>
  server_name: "<%= ENV["SERVER_NAME"] %>"
  force_ssl: true
  delay_jobs: true
  rollbar_server_token: ""
  http_basic_username: ""
  http_basic_password: ""
  managers_url: ""
  managers_application_key: ""
  <<: *maps
  <<: *apis
  <<: *mail
