<li class="pagination-next">
  <%= link_to t("views.pagination.next").html_safe, kaminari_path(!params[:ecosystem].blank? && params[:ecosystem] == true ? url = "#{url}#filter-subnav" : url), :rel => "next", :remote => remote %>
</li>
