<% if page.current? %>
  <li class="current">
    <span class="show-for-sr"><%= t("views.pagination.current") %></span>
    <%= page %>
  </li>
<% else %>
  <li>
    <%= link_to page, kaminari_path(!params[:ecosystem].blank? && params[:ecosystem] == true ? url = "#{url}#filter-subnav" : url), {:remote => remote, :rel => page.next? ? "next" : page.prev? ? "prev" : nil} %>
  </li>
<% end %>
