<li class="pagination-previous">
  <%= link_to t("views.pagination.previous").html_safe, kaminari_path(!params[:ecosystem].blank? && params[:ecosystem] == true ? "#{url}#filter-subnav" : url), :rel => "prev", :remote => remote %>
</li>
