<%= form_for(setting, url: admin_setting_path(setting), html: { id: "edit_#{dom_id(setting)}"}) do |f| %>
  <div class="small-12 medium-6 large-8 column">
    <% if f.object.permit_html_safe%>
      <div class="ckeditor">
        <%= f.cktext_area :value, label: false,ckeditor: { language: I18n.locale }, id: dom_id(setting), lines: 1 %>
      </div>
    <%else%>
      <%= f.text_area :value, label: false, id: dom_id(setting), lines: 1 %>
    <%end%>
  </div>
  <div class="small-12 medium-6 large-4 column">
    <%= f.submit(t("admin.settings.index.update_setting"), class: "button hollow expanded") %>
  </div>
<% end %>
