<%= form_for(setting, url: admin_setting_path(setting), html: { id: "edit_#{dom_id(setting)}"}) do |f| %>
  <div class="small-12 medium-6 large-8 column">
    <% if f.object.permit_html_safe%>
      <%= f.text_area :value, label: false,hint: t("admin.legislation.processes.form.use_markdown"), id: dom_id(setting), lines: 1 %>
    <%else%>
      <%= f.text_area :value, label: false, id: dom_id(setting), lines: 1 %>
    <%end%>
  </div>
  <div class="small-12 medium-6 large-4 column">
    <%= f.submit(t("admin.settings.index.update_setting"), class: "button hollow expanded") %>
  </div>
<% end %>
