<h1>Settings</h1>

<div>
  <table>
    <tbody>
      <% @settings_sections.each do |setting_section| %>
        <%= render "settings_sections_list", setting_section: setting_section %>
      <% end %>
    </tbody>
  </table>
</div>
