<div class="tabs-panel" id="tab-followers">
  <div class="row">
    <div class="small-12 column">
      <% if followable.follows.blank? %>
        <div class="callout primary text-center">
          <%= t('follows.no_followers') %>
        </div>
      <% end %>
      <% followable.follows.joins(:user).order("users.username ASC").each do |follow| %>
        <div class="follower follower-info">
          <%= link_to user_path(follow.user), class: 'tags' do %>
            <span class="user-name">
              <%= avatar_image(follow.user, seed: follow.user_id, size: 32, class: "float-left") %>
              <%= follow.user.name %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
