<%= form_for [:admin, :wizards, @field_assignment],
             url: @field_assignment.persisted? ? admin_wizards_verification_handler_field_assignment_path(@field_assignment.handler, @field_assignment.id) : admin_wizards_verification_handler_field_assignments_path(@field_assignment.handler)  do |f| %>

  <%= render "shared/errors", resource: @field_assignment %>

  <div class="row">
    <div class="small-12 column">
      <%= f.select :verification_field_id,
                    Verification::Field.all.collect{|field| [field.name, field.id]} %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <%= f.submit class: "button success expanded margin-top",
                   value: t("admin.wizards.verification.handler.field_assignments.form.submit_button") %>
    </div>
  </div>
<% end %>
