<div class="row margin-top">
  <div class="small-12 medium-8 field-assignments-new">
    <%= back_link_to %>
    <h2><%= t("admin.wizards.verification.handler.field_assignments.new.title") %></h2>
    <%= render "form" %>
  </div>
</div>
