// Override CONSUL DEMOCRACY and Foundation settings in this file.
//
// For example, override the brand color to #123456 with:
//
// $brand: #123456;
//
// Or override Foundation's tooltip color to #123456 with:
//
// $tooltip-color: #123456;
//
// The variables you can override are defined in the
// `_settings.scss` and `_consul_settings.scss` files.

$dark-gray: #8a8a8a;
$switch-background: darken($dark-gray, 10%);

// COLORS
$brand: #045177;
$footer: $brand;
$secondary: #1b8dc0;
$topbar-padding: 0;
