// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
$brand-light: #fa007b;
$brand-lighter: #f8f6fe;
$brand-lightest: #ffb454;
$brand-gradient: #fb3370 linear-gradient(270deg, $brand-light 0%, $brand-lightest 100%) 0% 0%;
$dark-text: #036;
