.background_videos {
    background: #f2f2f2;
    padding: 10px;
    margin-top: 50px;
}

.background_comments {
    background: #f2f2f2;
    padding: 10px;
}
  
.background_uniq_video {
    background: white;
    text-justify: auto;
    font-weight: normal;
}


.desc_video {
    color: #333333;
    text-justify: auto;
    font-weight: normal;
}

