.background_videos {
    background: #f2f2f2;
    padding: 10px;
    margin-top: 50px;
}

.background_videos_borought {
    background: white;
    margin-top: 10em;
}

.background_comments {
    background: #f2f2f2;
    padding: 10px;
}
  
.background_uniq_video {
    background: white;
    text-justify: auto;
    font-weight: normal;
}


.desc_video {
    color: #333333;
    text-justify: auto;
    font-weight: normal;
}


.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    height: 0;
    overflow: hidden;
    }
    
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
