// Override and add customized styles in this file.
//
@import "font-awesome/icons";

// Registration and user account page
.account,
.new-user {
  .date-of-birth {
    select {
      float: left;
      width: 33.33%;
    }

    &.show {
      select {
        margin-right: 0;
      }
    }
  }
}

// Top menu
.top-links {
  font-size: $small-font-size;
  border-bottom: 2px solid #fff;

  a {
    margin-left: rem-calc(12);
    margin-right: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 0;
  }

  li {
    display: block;

    @include breakpoint(medium) {
      display: inline-block;

      &::after {
        content: none;
      }

      &:last-child::after {
        content: none;
      }
    }
  }
}

.wrapper > header .external-links {
  text-align: left;

  @include breakpoint(medium) {
    text-align: right;

    .submenu {
      text-align: center;
    }
  }

  .submenu {
    @include breakpoint(small only) {
      flex-direction: column;

      a {
        color: inherit;
        padding-left: 0;
      }
    }
  }
}

// Menu
.public .top-bar {
  @include breakpoint(medium) {
    height: 60px;
  }
}

.top-bar {
  @include breakpoint(small down) {
    height: fit-content;
    padding: rem-calc(8);

    .social {
      padding: 0;
    }
  }

  .social {
    display: inline;
    margin: auto;
    text-align: $global-left;

    a {
      color: inherit;
    }

    li:first-child {
      a {
        margin-left: 0;
      }
    }
  }

  .left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      margin-right: 15px;
      height: 30px;
    }

    .top-bar-title {
      background-color: $secondary;
      font-size: medium;
      height: 100%;
      margin: 0;
      text-align: center;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      text-decoration: none !important;

      a {
        height: 100%;
        margin: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff !important;
      }
    }

    &-number {
      margin: 0 15px;
      font-size: small;
      font-weight: 600;
    }
  }

  .middle-section {
    flex-grow: 1;
    font-size: small;
    font-weight: 600;
    text-align: center;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;

    .social {
      @include breakpoint(medium) {
        width: 100%;
      }

      li {
        padding: 0 rem-calc(8);
      }

      a {
        font-size: $small-font-size;
        margin: 0;
        padding: 0;
      }
    }

    .search {
      padding-left: rem-calc(10);
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;

      span {
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: rem-calc(5);
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

.bluebox-container {
  margin: 30px auto;

  a {
    text-decoration: none !important;
  }

  .bluebox {
    text-decoration: none;
    background-color: $secondary;
    font-size: rem-calc(22);
    font-weight: 700;
    text-align: center;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: #fff;
    }
  }
}

.sectionbox-container {
  background-color: #fff;
  margin: auto;
  width: 100%;
  max-width: 75rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  .box {
    width: 100%;
    margin: 0 15px;
  }

  a {
    text-decoration: none !important;
  }

  .sectionbox {
    border: 1px solid #000;
    height: 100%;
    display: flex;
    flex-direction: column;

    img,
    i {
      height: 70px;
      width: auto;
      margin: 30px auto;
    }

    .fa-balance-scale {
      font-size: 4em;
      color: #005079;
    }

    &-title {
      background-color: $brand;
      color: #fff;
      font-weight: 800;
      padding: 20px 0;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 639px) {
  .sectionbox-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0 10px;

    .box {
      margin: 15px 0;
    }
  }
}

.action-container {
  display: flex;
  flex-wrap: wrap;

  .action {
    flex: 1 0 10%;
    margin: 0 rem-calc(12);
    img {
      height: 80px;
      width: auto;
    }
  }
}

.footer {
  a {
    text-decoration: none;

    &:hover {
      color: inherit;
    }

    .footer-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: rem-calc(12);

      span {
        margin-left: 8px;
      }
    }
  }
}

// PAGES
.page-title {
  border-bottom: 4px solid $secondary;
  margin: 0;

  h1 {
    font-size: 54px;
    color: $brand;
  }

  small {
    color: $secondary;
  }
}

.subtitle {
  h2 {
    color: $brand;
  }
}

.current-page {
  background-color: $brand;

  span {
    color: #fff;
  }
}

.menu-title {
  background-color: $secondary;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 10px 34px 10px 20px;

  span {
    font-size: rem-calc(23);
    font-weight: 800;
  }
}

.menu-sections {
  list-style-type: none;
  background-color: #d3d3d3;
  width: 100%;
  margin: 0;

  li {
    color: #000;

    a {
      display: block;
      padding: 10px 34px 10px 20px;
      text-decoration: none;

      &:hover {
        background-color: $brand;
        color: #fff;
      }
    }
  }
}

.boxlist {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 0 !important;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 1%;
      width: 33.3% - 2%;
      border: 3px solid $secondary;
      padding: 30px 10px;
      font-size: rem-calc(18);
      text-overflow: ellipsis;
    }
  }
}

// Sign In
.auth-page .wrapper {
  @include breakpoint(medium) {
    display: flex;
    align-self: stretch;
  }
}
.auth-image {
  background-image: none !important;

  h1 {
    display: block !important;
    margin-left: auto;
    margin-right: auto;

    a {
      display: block !important;
      text-align: center;
    }
  }
}

.notice-container {
  z-index: 1;
}

// /* This controls how many elements will be on each row of the block grid. */
// /* Set this to whatever number you need, up to the max allowed in the variable */
// $per-row: false;

// /* This controls how much space is between each item in the block grid */
// $spacing: $block-grid-default-spacing;

// /* This controls whether or not base styles come through, set to false to leave out */
// /* This is handy for when you create multiple block-grids and want less CSS output repetition */
// $base-style: true;
