.stitle_1 {
    background: #00a5f1;
    color: white;
    height: 150px;
    text-align: center;
    padding: 40px;
}
  
.stitle_2 {
    color: #00a5f1;
    text-justify: auto;
    font-weight: normal;
}


.stitle_3 {
    color: #333333;
    text-justify: auto;
    font-weight: normal;
}

.scontent_1 {
    color: white;
    background: #43ac6a;
    text-justify: auto;
    padding: 10px;
    font-size: 20px;
}

.scontent_2 {
    color: #333333;
    text-justify: auto;
    font-size: 16px;
}
  
.scontent_2 a { 
    font-weight: bold;
}