.wizard {
  h3 {
    margin-bottom: 0;
  }

  h3,
  .current-step {
    display: inline-block;
    padding: .7em 0;
  }

  .current-step {
    @include breakpoint(medium) {
      margin-left: $line-height;
    }
  }

  .btn-back-step {
    margin-right: $line-height;
  }

  .btn-back-step i {
    position: relative;
    &:before {
      position: absolute;
      top: 2px;
      left: -20px;
    }
  }

  .v-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    margin-bottom: 0;
  }

  @include breakpoint(small) {
    input.button {
      padding: 1em 0;
    }
  }

  .back {
    margin: 1em 0;
  }

  .row.globalize-languages.column {
    margin: 0 auto;
  }
}
