<div class="header-section">
  <h1 class="header-title">
    <%= header&.title.presence || t("welcome.header.title") %>
  </h1>

  <p class="header-description">
    <%= header&.description.presence || t("welcome.header.description") %>
  </p>

  <%= link_to header&.link_url.presence || (current_user.nil? ? new_user_session_path : legislation_processes_path), class: "button header-button" do %>
    <span><%= header&.link_text.presence || t("welcome.header.participa") %></span>
  <% end %>
</div>
