<ul>
  <li>
    <div>
      <%= t("application.support_title") %>
      <%= t("application.support_number") %>
    </div>
  </li>
  <li>
    <%= render Layout::SocialComponent.new(class: "social") %>
  </li>
</ul>
