<div class="small-12 column">
  <%= back_link_to admin_moderated_texts_path %>

  <h2><%= t("admin.moderated_texts.imports.index.title") %></h2>
</div>

<div class="moderated-text-imports-form">
  <%= render "form" %>
</div>
