<div class="title-bar" data-responsive-toggle="responsive_menu" data-hide-for="medium">
  <button class="menu-button" type="button" data-toggle="responsive_menu">
    <span class="menu-icon"></span>
    <span class="title-bar-title"><%= t("application.menu") %></span>
  </button>
</div>
