<%= render "cards" if @cards.any? %>
<!--
<div class="row" style="border-bottom: 1px solid black">
  <div class="small-12 column">
    <h3 style="text-align:center;padding-top:2em;padding-bottom:2em;"><%#= link_to t("landings.search_sures"), search_sures_path,  style: "color:#04C4D9 !important"%></h3>
  </div>
</div>
-->

<h3 style="text-align:center;padding-top:2em;padding-bottom:2em;"><%= link_to t("landings.learn_more_sures"), "https://www.madrid.es/sites/v/index.jsp?vgnextrefresh=1&vgnextoid=1c9c5c3a93f30710VgnVCM2000001f4a900aRCRD&vgnextlocale=es&vgnextfmt=default&vgnextchannel=1c9c5c3a93f30710VgnVCM2000001f4a900aRCRD", target: "_blank", style: "color:#04C4D9 !important;"%></h3>

<div class="row" style="text-align:center;background:#ECECEC;">
  <div class="row">
    <div class="small-12 medium-8 column medium-centered">
      <h1  style="padding-top:2em;padding-bottom:1em;"><%= t("landings.want_info") %></h1>
    </div>
  </div>
  <h3 style="padding-bottom:2em;"><%= link_to t("landings.user_register"), new_sure_registration_url, target: "_blank", style: "color:#04C4D9 !important;" %></h3>
</div>

