<div class="row" style="border-bottom: 1px solid black; display: flex;
   align-items: center;" >
  <div class="small-12 column">
    <p style="padding-top:1em"><%= link_to t("landings.return_sures"), sures_path,  style: "color:#04C4D9 !important"%></p>
  </div>
</div>


<main>
  <div class="row">
    <div id="actuations" class="actuations-list small-12 column">
      <div id="actuations-list" style="margin-top: 2em">
        <% if @actuations.any? %>
          <%= render partial: "sures/actuation", collection: @actuations %>
        <% end %>
        <%= paginate @actuations %>        
      </div>
    </div>
  </div>
</main>